@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h2>Генератор приложения к акту осмотра</h2>
    <p class="lead">Приложение находится в разработке. Берегитесь неполадок.</p>
    <h4>
           <hr />Структура сайта: Завершено
           <hr />База данных в Azure: Завершено
           <hr />Выгрузка в Word: 70%   
           <hr />Геолокация: 50%
           <hr />Личный кабинет: 30%
    </h4>
</div>